<footer
    class=" overflow-hidden relative bg-cover bg-center bg-no-repeat before:block before:absolute before:top-0 before:left-0 before:w-full before:h-full before:bg-orange1 before:opacity-90" style="background-image: url({{ url }}{{ background|media}});">
    <div class="relative md:container md:mx-auto pt-10 pr-20 flex items-center gap-10">
        <div class="logo">
            <img src="{{ url }}{{ logo |media }}" alt="" class="img w-44 absolute -top-10 left-10" />
        </div>
        <div class="content lg:pl-60 sm:pl-0 lg:mt-0 sm:mt-36 mt-48 w-full">
            <div class="heading-footer flex justify-between text-white items-center border-b pb-4 px-6">
                <h1 class="name-pt font-bold text-2xl sm:text-left text-center">{{ title }}</h1>
                <div class="heading-sosmed flex justify-center sm:w-fit items-center text-5xl gap-4">
                    {% for sosmed in social_media  %}
                        <a href="{{ sosmed.link }}" >
                            <img src="{{ url }}{{ sosmed.icon |media }}" alt="" class="w-12">
                        </a>                
                    {% endfor %}
                </div>
            </div>
            <div class="mt-8 flex md:flex-row flex-col items-start justify-between">
                <div>
                    <div class="footer-info">
                        <span class="iconify " data-icon="bx:home-alt" style="color: #fac745"></span>
                        <div>
                            {{ address|raw }}
                        </div>
                    </div>
                    <div class="footer-info items-center">
                        <span class="iconify" data-icon="eva:email-outline" style="color: #ffc32f"></span>
                        <div>
                            {{ email|raw }}
                        </div>
                    </div>
                    <div class="footer-info">
                        <span class="iconify" data-icon="mdi-light:phone" style="color: #ffc32f"></span>
                        <div class="flex flex-col">
                            {{ phone|raw }}
                        </div>
                    </div>
                </div>
                <div class="flex gap-4 md:mt-0 mt-10 w-60 sm:inherit justify-between">
                    <div class="footer-link">
                        <a href="{{ 'home'|page }}">{{ link1 }}</a>
                        <a href="about.html">{{ link2 }}</a>
                        <a href="{{ 'our-service-air'|page }}">{{ link3 }}</a>
                        <a href="{{ 'tracking'|page }}">{{ link4 }}</a>
                    </div>
                    <div class="footer-link">
                        <a href="{{ 'jasa-belanja'|page }}">{{ link5 }}</a>
                        <a href="{{ 'artikel'|page }}">{{ link6 }}</a>
                        <a href="{{ 'contact'|page }}">{{ link7 }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="absolute bottom-0 w-full bg-orange2 py-4 mt-20 text-white font-semibold">
        <div class="md:container mx-auto copyright w-full px-10 text-left font-bold">
            <div>{{ copyright|raw }}</div>
        </div>
    </div>
</footer>